.loginPage {
  background: var(--Linkbrary-bg, #f0f6ff);
  display: flex;
  padding: 14.875rem 0rem 15.8125rem 0rem;
  justify-content: center;
  align-items: center;
}
.loginBox {
  width: 25rem;
  display: flex;
  flex-direction: column;
  header {
    margin-bottom: 1.875rem; // header와 main 사이의 여백
  }
  main {
    margin-bottom: 2rem; // main과 aside 사이의 여백
  }
}

.aside {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--Linkbrary-gray20, #ccd5e3);
  background: var(--Linkbrary-gray10, #e7effb);
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  // align-items: center;
}
