.text {
  color: var(--black, #000);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
}
.textLink {
  color: var(--Linkbrary-primary-color, #6d6afe);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: underline;
}
