.contentFrame {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  color: var(--Linkbrary-gray100, #373740);

  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.image {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  //align-items: center;
  img {
    width: 2.625rem;
    height: 2.625rem;
  }
}
